# Build
/build/
/build_*/
/build-*/
.cache/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
compile_commands.json
_deps/

tmp/
*.exe
*.dll
*.dll.a
*.lib
*.pdb
*.ilk
*.obj
*.o
*.pch
*.ipch
*.exp
*.log
*.tmp
*.cache
*.zip
*.7z
*.tar
*.tar.gz
*.dmp
*.html
*.code-workspace

# IDE
.vscode/
.idea/

# Extension
erevos-language/node_modules/
erevos-language/out/
erelang-language/node_modules/
erelang-language/out/

# Local / generated
imgui.ini
plugins/*/build/
plugins/*/bin/
examples/bench/_tree/
__demo_download.bin
*_download.bin
test_print.0bs
Thumbs.db
Desktop.ini

dev/
dev/*
.github/
vscode/
